/* style.css */

body {
	font-family: Lato;
}

h1 {
	font-weight: bold;
	margin-bottom: 0;
	color: rgb(30,30,30,1);
}

.outer {
	display:  table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.middle {
	display:  table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 1100;
}

.top-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 25px auto;
	min-width: 800px;
	max-width: 1100px;
}

.top-box ul {
	list-style-type:  none;
	vertical-align: middle;
	padding: 0;
	font-size: 14px;
}

.top-box ul li {
	display: inline;
	margin: 0 10px;
}

.top-box div p {
	margin-top: 0;
	font-size: 12px;
	color: rgb(120,120,120,1);
}

.top-box ul {
	color: rgb(120,120,120,1);
	margin: auto 0;
	text-align: right;
}

.bottom-box {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	min-width: 800px;
	max-width: 1100px;
}

.bottom-box ul {
	list-style-type:  none;
	padding: 0;
}

.bottom-box ul li {
	font-size: 12px;
	color: rgb(120,120,120,1);
	display: inline;
}

ul li a {
	text-decoration: none;
	color: rgb(120,120,120,1);
}

ul li a:hover {
	text-decoration: underline;
}

/* I didn't code the following */.

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	max-width: 1100px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  background-color: rgba(50,50,50,0.5);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}